/* make the customizations */
$primary: darkorange;
$dark: #212529;
$info: teal;
$secondary: lighten(#212529, 5);
$light: whitesmoke;
//$warning: amber;

$theme-colors: (
        'primary': $primary,
        "info": $info,
        "dark": $dark,
        "secondary": $secondary,
        "light": $light
  //"warning": $warning
);

body.bg-dark {
  p, h1, h2, h3, h4, h5, h6 {
    color: white;
  }
}

.text-dark, .text-body {
  p {
    color: $dark !important;
  }
}

.MenuOverlay {
  display: flex;
  position: absolute;
  align-items: center;
  text-align: center;
  background-color: rgba(10, 10, 10, .85);
  padding-top: 1em;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 100;
}

.z999 {
  z-index: 999;
}

//Videobanner
.bg-video {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  z-index: -100;
}

.hero {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  display: flex;
  background-color: black;
  z-index: -101;
}

.banner-overlay {
  display: flex;
  position: absolute;
  top: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  width: 100%;
  z-index: 0;
}

.banner-overlay-text {
  color: white;
  position: absolute;
}

.banner-enter {
  opacity: 0;
}

.banner-enter-active, .banner-enter-appear {
  opacity: 1;
  transition: opacity 8000ms
}

//hero-Banner
.hero-banner {
  height: 95vH;
  width: auto;
}

.hero-banner-item {
  min-height: 95vH;
}

//Menu
.nav-link {
  width: max-content;
  color: white !important;
}

.nav-link.active {
  h3, h4, h5, h6, li {
    color: $primary;
  }
}

.nav-link:hover {
  color: $primary !important;
}

.pointer {
  cursor: pointer;
}

//back to top
.scrollTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  opacity: 0.75;
}

.scrollTop:hover {
  opacity: 1;
}

/***
Button to scroll down
Should be placed in a relative positioned Container

 */
.scrollDown {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  opacity: 0.75;

  &:hover {
    opacity: 1;
  }
}


// Flip-Count-Down
.countdown {
  margin: 5px 0px;
  div.countdown-count {
    height: 2.5em;
    width: 2.5em;
    padding: 0.5em;
    color: white;
    background-color: $dark;
    transition: transform 1s;
    perspective: 500px;
    &:hover {
      transform: rotateX(360deg);
    }
  }

  div.countdown-caption {
    font-size: 0.8em;
  }
}

//@import "./custom.scss";
@import "~bootstrap/scss/bootstrap";
